<?xml version="1.0" encoding="UTF-8"?>
<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements. See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership. The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License. You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied. See the License for the
* specific language governing permissions and limitations
* under the License.
-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:hf="http://highfaces.org"
      xmlns:b="http://bootsfaces.net/ui">

<h:head>
    <title>IRC | Dashboard</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <h:outputScript>
        function onMessage(message) {
            location.reload();
        }


    </h:outputScript>

</h:head>
<h:body style="width: 70%; margin: auto; background-color: #f9fafe; font-family: Montserrat">

    <h2 style="text-align: center">IRC Orders</h2>

    <div class="card">
        <h:form>
            <p:dataTable var="order" value="#{receiverControl.orders}" rows="5"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} {RowsPerPageDropdown}"
                         currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                         style="font-family: Montserrat">

                <p:column headerText="ID">
                    <h:outputText value="#{order.id}"/>
                </p:column>

                <p:column headerText="Departure">
                    <h:outputText value="#{order.departure}"/>
                </p:column>

                <p:column headerText="Destination">
                    <h:outputText value="#{order.destination}"/>
                </p:column>

                <p:column headerText="Total weight">
                    <h:outputText value="#{order.totalWeight}"/>
                </p:column>

                <p:column headerText="Status">
                    <h:outputText value="#{order.status}"/>
                </p:column>

                <f:facet name="paginatorBottomRight">
                    <p:commandButton type="button" icon="pi pi-cloud-upload"/>
                </f:facet>

            </p:dataTable>
        </h:form>
    </div>


    <f:websocket channel="websocket" onmessage="onMessage"/>

    <h2 style="text-align: center">Charts</h2>
    <h:form style="margin-left: 30px;">
        <p:chart type="pie" responsive="true" model="#{receiverControl.ordersChart}"
        style="height: 150px; width: 24%; display: inline-block"/>

        <p:chart type="pie" responsive="true" model="#{receiverControl.driversChart}"
                 style="height: 150px; width: 24%; display: inline-block"/>

        <p:chart type="pie" responsive="true" model="#{receiverControl.trucksConditionChart}"
                 style="height: 150px; width: 24%; display: inline-block"/>

        <p:chart type="pie" responsive="true" model="#{receiverControl.trucksStatusChart}"
                 style="height: 150px; width: 24%; display: inline-block"/>

        <p:chart type="bar" model="#{receiverControl.driversHoursChart}" style="height:150px"/>
    </h:form>
</h:body>

</html>